.erp-list{
    padding-top: 3px;
}

.erp-notification{
    background-color: rgba(213, 213, 201, 0.7);
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
}

.erp-title{
    text-align: center;
    padding: 5px 0;
}

.erp-content{
    padding: 5px 0;
}

.erp-author{
    text-align: right;
    padding: 5px 0;
}

.erp-date{
    text-align: right;
    padding: 5px 0;
}

#notification{
    background: url("../../img/4.png") no-repeat center;
    background-size: contain;
}

#vacation{
    background: url("../../img/5.png") no-repeat center;
    background-size: contain;
}