.container{
    position: relative;
    width: 100%;
    height: 100%;
}

.header{
    background-color: cornflowerblue;
    position: fixed;
    top: 0;
    color: white;
    padding: 10px 5px;
    left: 0;
    width: 100%;
    height: 30px;
}

.header-title{
    position: absolute;
    font-size: 25px;
    display: inline-block;
    left: 40%;
    text-align: center;
}

.header-back{
    margin-top: 5px;
    font-size: 20px;
    position: absolute;
    display: inline-block;
    left: 8%;
    color: white;
}

.header-logout{
    margin-top: 5px;
    font-size: 20px;
    position: absolute;
    display: inline-block;
    left: 78%;
}

.main-content{
    width: 100%;
    margin-top: 50px;
}

.item{
    width: 50%;
    height: 120px;
    float: left;
    margin-top: 20px;
}

.item-image{
    height: 100px;
}

.item-title{
    width:100%;
    margin-top: 10px;
    text-align: center;
}

a{
    text-decoration:none;
    color: black;
}

#oa{
    background: url("../../img/1.png") no-repeat center;
    background-size: contain;
}

#erp{
    background: url("../../img/2.png") no-repeat center;
    background-size: contain;
}

#lms{
    background: url("../../img/3.png") no-repeat center;
    background-size: contain;
}

#ams{
    background: url("../../img/4.png") no-repeat center;
    background-size: contain;
}

#crm{
    background: url("../../img/5.png") no-repeat center;
    background-size: contain;
}

/** spirit
.icon{
    margin-left: 20px;
    margin-top: 30px;
    display: inline-block;
    background: url("../../img/spirit.png") no-repeat;
    height: 70px;
    width: 25%;
}

#OA{
    background-position: 0px 0px;
}

#ERP{
    background-position: -75px 0px;
}

#LMS{
    background-position: -155px 5px;
}

#AMS{
    background-position: -250px 0px;
}

#CRM{
    background-position: -5px -75px;
}
*/